 /* Styles pour les boutons */
 
 button {
     color: black;
     padding: 10px 20px;
     border: none;
     border-radius: 12px;
     font-size: 18px;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     cursor: pointer;
     margin-right: auto;
     margin-left: auto;
 }
 
 .jaune {
     background-color: yellow;
 }
 
 .rouge {
     background-color: red;
 }
 
 html,
 body {
     height: 100%;
 }

 #titre{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    margin-left: 500px;
    margin-right: auto;
 }
 
 body {
     background: linear-gradient(45deg, rgb(92, 92, 241), rgb(243, 95, 95));
 }
 
 IMG.displayed {
     display: block;
     margin-left: auto;
     margin-right: auto
 }