/* style pour les jetons */

#ma-grille {
    width: 615px;
    height: 520px;
    background-color: blue;
}

.case {
    display: inline-block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: white;
}

.red {
    background-color: red!important;
}

.yellow {
    background-color: yellow!important;
}