/* style grille et cases*/

h1{
    display: block;
    width: auto;
    height: auto;
}

#jeu{
    width: 600px;
    height: 530px;

}

#ma-grille {
    background-color: blue;
}

.case {
    display: inline-block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: white;
}

.Bouton {
    display: inline-block;
    width: 75px;
    height: 75px;
    border: 1px solid black;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: white;
    font-size: 16px;
    font-weight: bold;

}

.element-centre{
    margin-left: auto;
    margin-right: auto;
}

/* style pour les jetons */
.red {
    background-color: red!important;
}

.yellow {
    background-color: yellow!important;
}

